@media print {
  form * {
    display: none;
  }

  .form{
    display: none !important;
  }

  .description {
    display: none !important;
  }

  .description-print {
    white-space: pre-wrap;
    display: block !important;
  }

  #pdf-content, #pdf-content * {
    /* display: block !important; */
    overflow: visible;
  }

  #pdf-content {
    font-size: 12px;
  }
  
  input, select, textarea {
    border: none;
    font: inherit;
    width: 100%;
    appearance: none;
  }
  .export-button {
    display: none !important;
  }
  .page-break-avoid {
    break-inside: avoid;
    page-break-inside: avoid; 
  }

  body{
    overflow: visible !important;
    height: auto !important;
  }
  .report-header {
    margin-bottom: 620px !important;
    box-shadow: none;

  }
  #pdf-content{
    box-shadow: none !important;
  }

  .summary{
    min-height: 1020px !important;
  }
  .section-controls {
    display: none !important;
  }

}



/* style.css – עיצוב בסיסי לאפליקציה */

body {
  font-family: "Segoe UI", "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #f4f6f8;
  color: #222;
}
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent page scroll */
}
h1, h2 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

button {
  font-family: inherit;
}

input:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#app {
  /* padding: 40px 20px; */
  /* max-width: 1200px; */
  margin: auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}